---
import BaseLayout from "../../layouts/BaseLayout.astro";
import BlogPost from "../../components/BlogPost.astro";
export async function getStaticPaths() {
  const allMarkdowns = await Astro.glob('../posts/*.md')
  const uniqueTags = [...new Set(allMarkdowns.map(markdown => markdown.frontmatter.tags).flat())]
  return uniqueTags.map(tag => {
    const filteredMarkdowns = allMarkdowns.filter(markdown => (
      markdown.frontmatter.tags.includes(tag)
    ))
    return {
      params: { tag },
      props: { markdowns: filteredMarkdowns },
      }
    })
  }
const { tag } = Astro.params
const { markdowns } = Astro.props
---
<BaseLayout titlePage={tag}>
  <p>Posts tagged with {tag}</p>
  <ul>
    {markdowns.map(markdown =>
      <BlogPost
        url={markdown.url}
        title={markdown.frontmatter.title}
      />
    )}
  </ul>
</BaseLayout>
